body {
  color: $white;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
}

a, a:visited {
  color: $white;
  @extend .font__amatic;
  @include mq($from: palm, $until:lap) {
    color: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  text-transform: uppercase;
  > span {
    border: 6px solid $white;
    padding: 4px 8px;
    @include mq($from: palm, $until:lap) {
      border: 0;
    }
  }
}

.font__amatic {
  font-family: 'Amatic SC', cursive;
}

.font__lato {
  font-family: 'Lato', sans-serif;
}

@mixin background-cover($path) {
  @include mq($from: lap, $until:desk) {
    background: url($path) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.wrapper {
  margin: 80px;
  @include mq($from: lap, $until:desk) {
    margin: 80px;
  }
  @include mq($from: palm, $until:lap) {
    margin: 0;
  }
}
.outer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: $turquoise; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($turquoise_light, $turquoise); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($turquoise_light, $turquoise); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($turquoise_light, $turquoise); /* For Firefox 3.6 to 15 */
  background: linear-gradient($turquoise_light, $turquoise); /* Standard syntax */

  @include mq($from: lap, $until:desk) {
    width: 80px;
    height: 80px;
  }
  @include mq($from: palm, $until:lap) {
    position: relative;
    width: 100%;
    height: 2em;
  }
  a {
    @extend .font__lato;
    display: inherit;
  }
}

.content {
  height: 100%;
  width: 100%;
}

.logo-header {
  // width: 100%;
  // position: relative;
  // top: -410px;
  // margin-bottom: -410px;
  @include mq($from: palm, $until:lap) {
    opacity: .5;
    filter: alpha(opacity=50);
    position: fixed!important;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
  }
}

.about_wrapper {
  padding-top: 55px;
  img {
    vertical-align: bottom;
  }
}

.about_content {
  background-color: $lila;
}

.fb-logo {
  background: url(../images/facebook_logo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.sc-logo {
  background: url(../images/soundcloud_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.navigation__item {
  border: 1px solid transparent;
  padding: 4px 8px;
  &.active {
    border-color: $white;
  }
}

.navigation {
  background-color: $blue_baby;
  transition: background-color 500ms linear;
  z-index: 2;
  display: inline-block;
  position: fixed;

  a {
    transition: color 500ms linear;
  }
  .active {
    transition: border-color 500ms linear;
  }
  &.isStuck {
    background-color: $yellow;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    box-shadow: 0px 0px 6px $grey__dark;
    a {
      -webkit-transition: color 500ms linear;
      -ms-transition: color 500ms linear;
      color: $blue_baby;
    }
    .active {
      -webkit-transition: border-color 500ms linear;
      -ms-transition: border-color 500ms linear;
      border-color: $blue_baby;
    }
  }
}

.tiles {
  margin: auto;
  h4 {
    display: block;
  }
  .o-pack__item {
    padding: 0 15px 15px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    @include mq($from: palm, $until:lap) {
      display: block;
    }
  }
  ul {
    padding-left: 0;
    li {
      text-align: left;
      list-style: none;
    }
  }

}

.border {
  border: 6px solid $white;
  h3, h4 {
    margin: 0 auto;
    background-color: $blue_baby;
    display: inline-block;
    position: absolute;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Chrome, Safari, Opera */
  }
}

#about {
    background: none;
}

.section {
  background: $lila; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($blue_baby, $lila); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($blue_baby, $lila); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($blue_baby, $lila); /* For Firefox 3.6 to 15 */
  background: linear-gradient($blue_baby, $lila); /* Standard syntax */
}

#infos {
  left: 0;
  background: $lila; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($yellow, $blue_baby, $yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($yellow, $blue_baby, $yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($yellow, $blue_baby, $yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient($yellow, $blue_baby, $yellow); /* Standard syntax */
  z-index: 0;
}

#lineup {
  .o-pack__item {
    @include mq($from: palm, $until:lap) {
      display: block;
    }
  }
}

#programm, #ads {
  background: $blue_mid; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($blue_baby, $blue_mid); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($blue_baby, $blue_mid); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($blue_baby, $blue_mid); /* For Firefox 3.6 to 15 */
  background: linear-gradient($blue_baby, $blue_mid); /* Standard syntax */
}

#getinthemood {
  background: $blue_mid; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($yellow, $blue_mid, $yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($yellow, $blue_mid, $yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($yellow, $blue_mid, $yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient($yellow, $blue_mid, $yellow); /* Standard syntax */
  z-index: 0;

  .sc-wrapper {
    width: 670px;
    height: 450px;
    padding: 20px;
    border: 12px solid $white;
    margin: auto;
  }
}
