$white: #FFFFFF;
$grey__dark: #333333;
$blue_baby: #35a6de;
$blue_mid: #5977c2;
$blue_mid2: #3f86c4;
$blue_mid3: #4178ba;
$blue_dark: #1c5294;
$turquoise_light: #daf0ee;
$turquoise: #89d0d6;
$lila: #572580;
$yellow: #faeba7;
$yellow2: #cfdbb4;
$yellow3: #a1ccc0;
