body {
  color: $white;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
}

a, a:visited {
  color: $white;
  @extend .font__amatic;
  @include mq($from: palm, $until:lap) {
    color: inherit;
  }
}

h1, h2, h3, h4 {
  font-weight: 900;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  > span {
    border: 6px solid $white;
    padding: 4px 8px;
    @include mq($from: palm, $until:lap) {
      border: 0;
    }
  }
}

.grey__dark {
  color: $grey__dark;
  a {
    @extend .font__lato;
    color: $grey__dark;
  }
}

.font__amatic {
  font-family: 'Amatic SC', cursive;
}

.font__lato {
  font-family: 'Lato', sans-serif;
}

@mixin background-cover($path) {
  @include mq($from: lap, $until:desk) {
    background: url($path) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.wrapper {
  margin: 80px;
  @include mq($from: lap, $until:desk) {
    margin: 80px;
  }
  @include mq($from: palm, $until:lap) {
    margin: 0;
  }
}
.outer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: $turquoise; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($turquoise_light, $turquoise); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($turquoise_light, $turquoise); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($turquoise_light, $turquoise); /* For Firefox 3.6 to 15 */
  background: linear-gradient($turquoise_light, $turquoise); /* Standard syntax */

  @include mq($from: lap, $until:desk) {
    width: 80px;
    height: 80px;
  }
  @include mq($from: palm, $until:lap) {
    position: relative;
    width: 100%;
    height: 2em;
  }
  a {
    @extend .font__lato;
    display: inherit;
  }
}

.content {
  height: 100%;
  width: 100%;
}

.logo-header {
  // width: 100%;
  // position: relative;
  // top: -410px;
  // margin-bottom: -410px;
  @include mq($from: palm, $until:lap) {
    opacity: .5;
    filter: alpha(opacity=50);
    position: fixed!important;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
  }
}

.about_wrapper {
  padding-top: 55px;
  @include mq($from: palm, $until:lap) {
    padding-top: 26px;
  }
  img {
    vertical-align: bottom;
  }
  .falling_stars {
    transform-origin: 50% 50%;
    z-index: 1;
    left:50%;
    top:-50px;
  }
}

.about_content {
  background-color: $lila;
  position: relative;
}

.fb-logo {
  background: url(../images/facebook_logo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.sc-logo {
  background: url(../images/soundcloud_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.navigation__item {
  border: 1px solid transparent;
  padding: 4px 8px;
  &.active {
    border-color: $white;
  }
  @include mq($from: palm, $until:lap) {
    display: inline;
    font-size: 1em!important;
    padding: 0;
    margin: 0 5px!important;
  }
}

.navigation {
  background-color: $blue_baby;
  transition: background-color 500ms linear;
  z-index: 2;
  display: inline-block;
  position: fixed;

  &.stuckMenu {
    position: fixed!important;
    top: 0px!important;
  }

  a {
    transition: color 500ms linear;
  }
  .active {
    transition: border-color 500ms linear;
  }
  &.isStuck {
    background-color: $yellow;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    box-shadow: 0px 0px 6px $grey__dark;
    a {
      -webkit-transition: color 500ms linear;
      -ms-transition: color 500ms linear;
      color: $blue_baby;
    }
    .active {
      -webkit-transition: border-color 500ms linear;
      -ms-transition: border-color 500ms linear;
      border-color: $blue_baby;
    }

  }
}

.tiles {
  margin: auto;
  h4 {
    display: block;
  }
  .o-pack__item {
    padding: 0 15px 15px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    @include mq($from: palm, $until:lap) {
      display: block;
    }
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
    }
  }

}

.border {
  border: 6px solid $white;
  @include mq($from: palm, $until:lap) {
    box-sizing: border-box;
    width: 100%!important;
    margin: 0!important;
  }

  h3, h4 {
    margin: 0 auto;
    background-color: $blue_baby;
    &.lila {
      background-color: $lila;
    }
    &.yellow-to-blue {
      background: $yellow2; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient($yellow2, $yellow3); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient($yellow2, $yellow3); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient($yellow2, $yellow3); /* For Firefox 3.6 to 15 */
      background: linear-gradient($yellow2, $yellow3); /* Standard syntax */
    }
    &.blue2-to-blue3 {
      background: $blue_mid2; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient($blue_mid2, $blue_mid3); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient($blue_mid2, $blue_mid3); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient($blue_mid2, $blue_mid3); /* For Firefox 3.6 to 15 */
      background: linear-gradient($blue_mid2, $blue_mid3); /* Standard syntax */
    }
    display: inline-flex;
    position: absolute;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Chrome, Safari, Opera */
    >span {
      @include mq($from: palm, $until:lap) {
        border: 6px solid $white!important;
      }
    }
  }
}

#mc_embed_signup {
  background-color: inherit!important;
}

#about {
    background: none;
}

.section {
  background: $blue_mid; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($blue_baby, $blue_mid); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($blue_baby, $blue_mid); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($blue_baby, $blue_mid); /* For Firefox 3.6 to 15 */
  background: linear-gradient($blue_baby, $blue_mid); /* Standard syntax */
  position: relative;

  > div:first-of-type, .float_in_middle {
      max-width: 900px;
      margin: 0 auto;
  }
}

.sc-wrapper {
  width: 670px;
  height: 450px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 6px solid $white;
  width: 75%;
  max-width: 60em;
  margin: 0 auto;
  @include mq($from: palm, $until:lap) {
    margin: 0px !important;
    box-sizing: border-box;
    width: 100%!important;
    border: 6px solid $white;
  }
}
