$white: #FFFFFF;
$grey__dark: #333333;
$blue_baby: #35a6de;
$blue_mid: #5977c2;
$blue_dark: #547eb8;
$turquoise_light: #daf0ee;
$turquoise: #89d0d6;
$lila: #572580;
$yellow: #faeba7;

.colors-1 {
  background-color: $blue_baby;
}
.colors-2 {
  background-color: $blue_dark;
}
.colors-3 {
  background-color: $turquoise;
}
.colors-4 {
  background-color: $lila;
}
.colors-5 {
  background-color: $yellow;
}
.colors-6 {
  background-color: $grey__dark;
}
